# Laboratorio de Introducción a Pandas

Completa el siguiente conjunto de ejercicios para consolidar tu conocimiento de los fundamentos de Pandas.

### 1. Importa Numpy y Pandas y asígnalos los alias `np` y `pd` respectivamente.

In [32]:
import pandas as pd
import numpy as np

### 2. Crea una Serie de Pandas que contenga los elementos de la lista a continuación.

In [33]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [34]:
serie_pandas = pd.Series(data=lst)
serie_pandas

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Usa la indexación para devolver el tercer valor en la Serie anterior.

*Sugerencia: Recuerda que la indexación comienza en 0.*

In [13]:
tercer_valor = serie_pandas[2]
print(tercer_valor)

74.4

### 4. Crea un DataFrame de Pandas a partir de la lista de listas a continuación. Cada sublista debe representarse como una fila.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [30]:
df = pd.DataFrame(b)
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Renombra las columnas del DataFrame basándote en los nombres de la lista a continuación.

In [24]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [29]:
nombres_columnas = ["Columna1", "Columna2", "Columna3", "Columna4", "Columna5"]
df = pd.DataFrame(data=b, columns=nombres_columnas)
df

   Columna1  Columna2  Columna3  Columna4  Columna5
0      53.1      95.0      67.5      35.0      78.4
1      61.3      40.8      30.8      37.8      87.6
2      20.6      73.2      44.2      14.6      91.8
3      57.4       0.1      96.1       4.2      69.5
4      83.6      20.5      85.4      22.8      35.9
5      49.0      69.0       0.1      31.8      89.1
6      23.3      40.7      95.0      83.8      26.9
7      27.6      26.4      53.8      88.8      68.5
8      96.6      96.4      53.4      72.4      50.1
9      73.7      39.0      43.2      81.6      34.7

### 6. Crea un subconjunto de este DataFrame que contenga solo las columnas de Puntuación 1, 3 y 5.

In [28]:
subconjunto = df[['Columna1', 'Columna3', 'Columna5']]
subconjunto

   Columna1  Columna3  Columna5
0      53.1      67.5      78.4
1      61.3      30.8      87.6
2      20.6      44.2      91.8
3      57.4      96.1      69.5
4      83.6      85.4      35.9
5      49.0       0.1      89.1
6      23.3      95.0      26.9
7      27.6      53.8      68.5
8      96.6      53.4      50.1
9      73.7      43.2      34.7

### 7. Del DataFrame original, calcula el valor promedio de Score_3.

In [47]:
import pandas as pd

b = [[53.1, 95.0, 67.5, 35.0, 78.4],
      [61.3, 40.8, 30.8, 37.8, 87.6],
      [20.6, 73.2, 44.2, 14.6, 91.8],
      [57.4, 0.1, 96.1, 4.2, 69.5],
      [83.6, 20.5, 85.4, 22.8, 35.9],
      [49.0, 69.0, 0.1, 31.8, 89.1],
      [23.3, 40.7, 95.0, 83.8, 26.9],
      [27.6, 26.4, 53.8, 88.8, 68.5],
      [96.6, 96.4, 53.4, 72.4, 50.1],
      [73.7, 39.0, 43.2, 81.6, 34.7]]

nombres_columnas = ["Columna1", "Columna2", "Columna3", "Columna4", "Columna5"]

df = pd.DataFrame(data=b, columns=nombres_columnas)
promedio_columna3 = df["Columna3"].mean()
promedio_columna3

56.95000000000001

### 8. Del DataFrame original, calcula el máximo valor del Score_4.

In [51]:
maximo_columna4 = df["Columna4"].max()
maximo_columna4

88.8

### 9. Del DataFrame original, calcula la media valor del Score_2.

In [50]:
media_columna2 = df["Columna2"].mean()
media_columna2

50.11

### 10. Crea un DataFrame de Pandas a partir del diccionario de pedidos de productos a continuación.

In [53]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [54]:
df = pd.DataFrame(orders)
df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calcula la cantidad total pedida y los ingresos generados a partir de estos pedidos.

In [63]:
suma_cantidad = df["Quantity"].sum()
print(suma_cantidad)

suma_ingresos = df["Revenue"].sum()
print(suma_ingresos)

2978

637.0

### 12. Obten los precios del artículo más caro y del más barato pedidos e imprime la diferencia.

In [68]:
caro = df["UnitPrice"].max()
print(caro)

barato = df["UnitPrice"].min()
print(barato)

diferencia = caro - barato
print(diferencia)

11.95
0.18
11.77

## Carguemos otro conjunto de datos para más ejercicios

In [150]:
import pandas as pd
admissions = pd.read_csv("/home/Ironhack/prueba13/lab-pandas-es/Admission_Predict.csv")
print (admissions)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        316          104                  3  3.0   3.5  8.00
2             3        322          110                  3  3.5   2.5  8.67
3             4        314          103                  2  2.0   3.0  8.21
4             5        330          115                  5  4.5   3.0  9.34
..          ...        ...          ...                ...  ...   ...   ...
380         381        324          110                  3  3.5   3.5  9.04
381         382        325          107                  3  3.0   3.5  9.11
382         383        330          116                  4  5.0   4.5  9.45
383         384        312          103                  3  3.5   4.0  8.78
384         385        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
1           1              0.72
2           1              0.80
3           0              0.65
4           1              0.90
..        ...               ...
380         1              0.82
381         1              0.84
382         1              0.91
383         0              0.67
384         1              0.95

[385 rows x 9 columns]

Evaluemos el conjunto de datos mirando la función `head`.

In [151]:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Antes de comenzar a trabajar con este conjunto de datos y evaluar los datos de admisiones de posgrado, verificaremos que no haya datos faltantes en el conjunto de datos. Haz esto en la celda de abajo.

In [161]:
admissions.info()

datos_faltantes = admissions.isnull().sum()
datos_faltantes

<class 'pandas.core.frame.DataFrame'>
Index: 385 entries, 1 to 385
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          385 non-null    int64
 1   TOEFL Score        385 non-null    int64
 2   University Rating  385 non-null    int64
 3   SOP                385 non-null    float64
 4   LOR                385 non-null    float64
 5   CGPA               385 non-null    float64
 6   Research           385 non-null    int64
 7   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 27.1 KB

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Curiosamente, hay una columna que identifica de manera única a los solicitantes. Esta columna es la columna de número de serie. En lugar de tener nuestro propio índice, deberíamos hacer de esta columna nuestro índice. Haz esto en la celda de abajo. Mantén la columna en el marco de datos además de hacerla un índice.

In [153]:
admissions.set_index('Serial No.', inplace=True) #hay que usar la columna serial nº como indice. Lo que hace es remplazar el encabezado

print(admissions.head())

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90

Resulta que `GRE Score` y `CGPA` también identifican de manera única los datos. Muestra esto en la celda de abajo.

### 3 - En esta parte del laboratorio, nos gustaría probar condiciones complejas en todo el conjunto de datos de una vez. Comencemos encontrando el número de filas donde el CGPA es mayor a 9 y el estudiante ha realizado una investigación.

In [154]:
filtro = (admissions["CGPA"] > 9) & (admissions['Research'] == 1)
num_filas = len(admissions[filtro])
print(num_filas)

101

### 4 - Ahora devuelve todas las filas donde el CGPA es mayor a 9 y la puntuación SOP es menor a 3.5. Encuentra la probabilidad media de admisión para estos solicitantes.

In [159]:
filtro2 = (admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)
num_filas2 = admissions[filtro2]

print(num_filas2)

probabilidad_media_admision = num_filas2['Chance of Admit '].mean()

print(probabilidad_media_admision)

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
29                338          118                  4  3.0   4.5  9.40
63                327          114                  3  3.0   3.0  9.02
141               326          114                  3  3.0   3.0  9.11
218               324          111                  4  3.0   3.0  9.01
382               325          107                  3  3.0   3.5  9.11

            Research  Chance of Admit
Serial No.
29                 1              0.91
63                 0              0.61
141                1              0.83
218                1              0.82
382                1              0.84
0.8019999999999999